repos:
- repo: https://github.com/PyCQA/flake8
  rev:  4.0.1
  hooks:
    - id: flake8
- repo: https://github.com/psf/black
  rev:  22.3.0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/isort
  rev:  5.12.0
  hooks:
    - id: isort
      args: ["--profile", "black"]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.8.0.4
  hooks:
  - id: shellcheck
