language: python
python:
    - "3.7"
install:
  - pip install -r requirements.txt
  - pip install -U .[all]
  - pip install codecov
script:
  - coverage run -m pytest tests/flytekit/unit
  - shellcheck **/*.sh
after_success:
  - codecov
