language: python
jobs:
  include:
    - name: "Python 3.8"
      python: 3.8
      before_install:
        - make setup-spark3
    - name: "Python 3.7"
      python: 3.7
      before_install:
        - make setup
install: pip freeze
script:
  - make lint
  - coverage run -m pytest tests/flytekit/unit
  - coverage run -m pytest tests/scripts
  - shellcheck **/*.sh
after_success:
  - codecov
