-c requirements.txt

git+https://github.com/flyteorg/pytest-flyte@main#egg=pytest-flyte
coverage[toml]
joblib
mock
pytest
pytest-cov
mypy
pre-commit
codespell
google-cloud-bigquery
google-cloud-bigquery-storage
IPython
tensorflow
grpcio-status<1.49.0
# Newer versions of torch bring in nvidia dependencies that are not present in windows, so
# we put this constraint while we do not have per-environment requirements files
torch<=1.12.1
scikit-learn
