-c requirements.txt

git+git://github.com/flyteorg/pytest-flyte@main#egg=pytest-flyte
coverage[toml]
joblib
mock
pytest
mypy
pre-commit
codespell
# Restrict mashmallow-jsonschema while we figure out if 0.13.0 is backwards
# compatible.
marshmallow-jsonschema<0.13.0
