-c requirements.txt

black==19.10b0
coverage
flake8
flake8-black
flake8-isort
isort
mock
pytest
mypy
sphinx
sphinx-gallery
sphinx-prompt
sphinx-material
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
