.[all]
-e file:.#egg=flytekit

git+git://github.com/flyteorg/furo@main
sphinx
sphinx-gallery
sphinx-prompt
sphinx-material
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
sphinx_fontawesome
sphinxcontrib-yt
grpcio
cryptography
