.[all]
-e file:.#egg=flytekit

git+git://github.com/flyteorg/furo@main
readthedocs-sphinx-search
sphinx
sphinx-gallery
sphinx-prompt
sphinx-material
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
sphinx_fontawesome
grpcio
cryptography
sphinxext-remoteliteralinclude