.[all]
-e file:.#egg=flytekit

git+https://github.com/flyteorg/furo@main
sphinx
sphinx-gallery
sphinx-prompt
sphinx-material
sphinx-code-include
sphinx-autoapi
sphinx-copybutton
sphinx_fontawesome
sphinx-panels
sphinxcontrib-yt
grpcio
cryptography

# Packages needed for generating plugin documentation
botocore                    # fsspec
fsspec                      # fsspec
google-cloud                # bigquery
google-cloud-bigquery       # bigquery
markdown                    # deck
plotly                      # deck
pandas_profiling            # deck
dolt_integrations           # dolt
great-expectations          # greatexpectations
