[sdk]
workflow_packages=tests.flytekit.common.workflows
python_venv=flyte_venv

[auth]
assumable_iam_role=arn:aws:iam::ABC123:role/my-flyte-role

[credentials]
discovery_endpoint=http://localhost:8088/.well-known/oauth-authorization-server
client_id=0oaai2nnqb29PvMvH1t7
redirect_uri=http://localhost:53593/callback
authorization_metadata_key=flyte-authorization

[platform]
url=host.docker.internal:8089
insecure=true

[aws]
s3_shard_formatter=s3://flyte/{}/
s3_shard_string_length=2
