name: Publish Python Package

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: "0"
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Autobump version
        id: bump
        run: |
          # from refs/tags/v1.2.3 get 1.2.3
          VERSION=$(echo $GITHUB_REF | sed 's#.*/v##')
          echo "::set-output name=version::$VERSION"
          VERSION=$VERSION make update_version
        shell: bash
      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python setup.py sdist bdist_wheel
          twine upload dist/*
      - name: Autobump plugin version
        run: |
          # from refs/tags/v1.2.3 get 1.2.3
          VERSION=$(echo $GITHUB_REF | sed 's#.*/v##')
          VERSION=$VERSION make -C plugins update_all_versions
        shell: bash
      - name: Build all Plugins and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          make -C plugins build_all_plugins
          make -C plugins publish_all_plugins
      # Added sleep because PYPI take some time in publish
      - name: Sleep for 180 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: '180s'
      - name: Build & Push Flytekit Python3.7 Docker Image to Github Registry
        uses: whoan/docker-build-with-cache-action@v5
        with:
          # https://docs.github.com/en/packages/learn-github-packages/publishing-a-package
          username: "${{ secrets.FLYTE_BOT_USERNAME }}"
          password: "${{ secrets.FLYTE_BOT_PAT }}"
          image_name: ${{ github.repository_owner }}/flytekit
          image_tag: py37-latest,py37-${{ github.sha }},py37-${{ steps.bump.outputs.version }}
          push_git_tag: true
          push_image_and_stages: true
          registry: ghcr.io
          build_extra_args: "--compress=true --build-arg=VERSION=${{ steps.bump.outputs.version }} --build-arg=DOCKER_IMAGE=ghcr.io/flyteorg/flytekit:py37-${{ steps.bump.outputs.version }}"
          context: .
          dockerfile: Dockerfile.py37
      - name: Build & Push Flytekit Python3.8 Docker Image to Github Registry
        uses: whoan/docker-build-with-cache-action@v5
        with:
          # https://docs.github.com/en/packages/learn-github-packages/publishing-a-package
          username: "${{ secrets.FLYTE_BOT_USERNAME }}"
          password: "${{ secrets.FLYTE_BOT_PAT }}"
          image_name: ${{ github.repository_owner }}/flytekit
          image_tag: py38-latest,py38-${{ github.sha }},py38-${{ steps.bump.outputs.version }}
          push_git_tag: true
          push_image_and_stages: true
          registry: ghcr.io
          build_extra_args: "--compress=true --build-arg=VERSION=${{ steps.bump.outputs.version }} --build-arg=DOCKER_IMAGE=ghcr.io/flyteorg/flytekit:py38-${{ steps.bump.outputs.version }}"
          context: .
          dockerfile: Dockerfile.py38
      - name: Build & Push Flytekit Python3.9 Docker Image to Github Registry
        uses: whoan/docker-build-with-cache-action@v5
        with:
          # https://docs.github.com/en/packages/learn-github-packages/publishing-a-package
          username: "${{ secrets.FLYTE_BOT_USERNAME }}"
          password: "${{ secrets.FLYTE_BOT_PAT }}"
          image_name: ${{ github.repository_owner }}/flytekit
          image_tag: py39-latest,py39-${{ github.sha }},py39-${{ steps.bump.outputs.version }}
          push_git_tag: true
          push_image_and_stages: true
          registry: ghcr.io
          build_extra_args: "--compress=true --build-arg=VERSION=${{ steps.bump.outputs.version }} --build-arg=DOCKER_IMAGE=ghcr.io/flyteorg/flytekit:py38-${{ steps.bump.outputs.version }}"
          context: .
          dockerfile: Dockerfile.py39
